@{
    ViewData["Title"] = "Empty";
}
<body class="text-center">
    <p>
        <h1>No forms submitted yet!</h1>
        Click <a class="nav-link" asp-action="RsvpForm">here</a>
        to fill out the form
    </p>
</body>