@model PartyInvites.Models.ViewModels.GuestResponseListViewModel
@{
    ViewData["Title"] = "Responses";
}
<body>
    <div class="row panel table-color">
        <div id="categories" class="col-xs-3 catagories">
            @await Component.InvokeAsync("NavigationMenu")
        </div>
        <div class="col-xs-8">
            <div class="panel-body">
                <h2>Here is the list of people attending the party</h2>
                <table class="table table-sm table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Address</th>
                        </tr>
                    </thead>
                    <tbody class="table-color">
                        @foreach (var r in Model.Responses)
                        {
                            <tr class="table-color">
                                <td class="table-color">@r.Name</td>
                                <td class="table-color">@r.Email</td>
                                <td class="table-color">@r.Phone</td>
                                <td class="table-color">@r.Address</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
