@{
    ViewData["Title"] = "Home Page";
}
<body>
    <div class="text-center">
        <h3 class="btn-text">We're going to have an exciting party!</h3>
        <h4 class="btn-text">And you are invited</h4>
        <div class="carousel">
            <img src="~/images/tropisch-feestje--e1436178948664.jpg" class="img-custom">
        </div>
        <a class="btn btn-primary count-component-btn btn-text" asp-action="RsvpForm">RSVP Now</a>
        <a class="btn btn-primary count-component-btn btn-text" asp-action="FindResponse">Change response</a>
     </div>
</body>
