@{
    ViewData["Title"] = "Nonexistent Email";
}
<body class="text-center">
    <p>
        <h1>That email has not been registered</h1>
        Click <a class="nav-link" asp-action="RsvpForm">here</a>
        to fill out the form
    </p>
</body>