body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #FFCA0B;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}
.table-color {
    background-color: #FFCA0B;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}
.catagories {
    margin-top: 50px;
}
.pull-left-icon {
    margin-right: 20px;
}
.navbar-custom {
    background-color: #FF290D;
    border-color: #FF290D;
}
    /* change the brand and text color */
    .navbar-custom .navbar-brand,
    .navbar-custom .navbar-text {
        color: #FFCA0B;
    }
    /* change the link color */
    .navbar-custom .navbar-nav .nav-link {
        color: rgba(255,255,255,.5);
    }
    /* change the color of active or hovered links */
    .navbar-custom .nav-item.active .nav-link,
    .navbar-custom .nav-item:hover .nav-link {
        color: #F0C900;
    }
.navbar-inverse .navbar-nav > li > a {
    color: #FFCA0B !important;
}
.btn-text {
    color: #FFCA0B;
}
.rsvp {
    color: #0D00FF !important;
}
.header-text {
    color: #FFDD2B
}
rsvp-header {
    background-color: #0D00FF;
    border-color: #0D00FF;
    color: #0D00FF;
}
.panel-success {
    margin-top: 50px;
    background-color: #E83D0C !important;
    border-color: #FFCA0B !important;
}
.panel-heading {
    background-color: #FF0E0D !important;
    border-color: #FFCA0B !important;
}
.rsvp-btn {
    background-color: #050061;
    border-color: #050061;
}
.btn-text-alt {
    color: #FF0E0D;
}
.count-component {
    color: ##FFCA0B;
}
.img-custom {
    margin-bottom: 20px;
    border-radius: 5px;
}
.count-component-btn {
    background-color: #FF0E0D;
    border-color: #FF0E0D;
}
.count-btn {
    background-color: #FFCA0B;
    border-color: #FFCA0B;
}
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
