@model PartyInvites.Models.ViewModels.ResponseSummary
<div class="count-component">
        <small class="navbar-text count-component">
            <b class="count-component">Aanmeldingen:</b>
            <br />
            <b class="count-component">@Model.Attendees van de @Model.TotalResponses aanmeldingen zullen aanwezig zijn</b>
        </small>
    <a class="btn btn-sm btn-default navbar-btn count-btn"
       asp-controller="Home" asp-action="RsvpForm">
        Rsvp
    </a>
</div>
