
<a class="btn btn-block btn-default count-component-btn btn-text"
   asp-action="ListResponses"
   asp-controller="Home"
   asp-route-category="">
    All
</a>

<a class="btn btn-block btn-default count-component-btn btn-text"
   asp-action="List"
   asp-controller="Home"
   asp-route-category="true">
    Attending
</a>

<a class="btn btn-block btn-default count-component-btn btn-text"
   asp-action="List"
   asp-controller="Home"
   asp-route-category="false">
    Not attending
</a>

